<form class="example-form" >
  <div class="column">
  <mat-form-field class="example-full-width">
    <mat-label >Player Name</mat-label>
    <input matInput  #titleInput >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Note About Player</mat-label>
    <textarea matInput class="textarea" #descriptionInput></textarea>
  </mat-form-field>
</div>
  <div class="example-button-row">

    <button mat-raised-button (click)="addNotes(titleInput, descriptionInput)" color="primary">Add</button>

    <button mat-raised-button (click)="onNoClick()" color="warn">Cancel</button>

  </div>
</form>
