form{
  padding: 20px;



  .example-button-row{
    display: flex;
    justify-content: space-between;
  }
}


.snackbar-error {
  background-color: #e57373; /* Red background color */
  color: #fff; /* White text color */
}
