<!--

<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="logo-container">
    <img src="../assets/img/logo.png" class="logo">
  </div>

  <ul class="menu-items">
    <li routerLink="/dashboard">
      <span class="material-icons">
        dashboard
        </span>
      Dashboard
    </li>
    <li routerLink="user">
      <span class="material-icons">
        people
        </span>
        User
      </li>
  </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button type="button" mat-button (click)="drawer.toggle()" class="icon-btn-div">
            <mat-icon class="menu-img">menu</mat-icon>
        </button>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
<div class="router-container">
    <router-outlet></router-outlet>
</div>
  </div>



</mat-drawer-container> -->
