.dialog-container{
  position: relative;

  mat-progress-bar{
    position: absolute;
    left: 0;
    right:0
  }
}

.line-1{
  display: flex;
  gap: 1rem;
}

.joined-date{
  width: 44%;
}

.address{
  width: 95%;
}
