
.example-header-image {

  background-size: cover;
}

img{
  padding: 1rem;

}

mat-card-actions{
  justify-content: center;

}


mat-card{
  max-width: 36rem;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  mat-card{
    max-width: 25rem !important;
  }
}
@media (max-width: 410px) {
  mat-card{
    max-width: 20rem !important;
  }
}
