mat-card {
  max-width: 36rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  min-height: 22rem;
  width: 100%;
  box-sizing: border-box;

  canvas {
    width: 100% !important;
    // height: auto !important;
    max-height: 100%;
  }
}
@media (max-width: 600px) {
  mat-card{
    max-width: 25rem;
  }
}

@media (max-width: 410px) {
  mat-card{
    max-width: 20rem !important;
  }
  .canvas, .canvas{
    height:15rem !important;
  }
}
