mat-toolbar{
  justify-content: space-between;
}


.login-btn {
  display:flex;
  justify-content: space-between;
  gap: 20px;

  .guest-login{
    background-color: rgb(85, 178, 194) !important;
    color: white;
    font-size: 12px;
  }
}
img{
  width: 3rem;
}



mat-form-field{
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 375px) {
  .form-container{
    margin:80px auto auto !important;
  }
}
