
<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="opened" mode="side">
    <div class="logo-container">
    <img src="../assets/img/logo-2.png" class="logo">
    <button *ngIf="isScreenSmall" mat-icon-button (click)="toggleDrawer()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>


  <ul class="menu-items">
    <li (click)="navigateAndCloseDrawer('/dashboard')">
      <span class="material-icons">
        dashboard
        </span>
      Dashboard
    </li>
    <li (click)="navigateAndCloseDrawer('/user')">
      <span class="material-icons">
        people
        </span>
        Investors
      </li>
        <li (click)="navigateAndCloseDrawer('/notes')">
          <span class="material-icons">
            notes
            </span>
            Notes
          </li>
          <li (click)="navigateAndCloseDrawer('/player')">
            <span class="material-icons">
              person
              </span>
              Player
            </li>
            <div class="legal">
            <li (click)="navigateAndCloseDrawer('/imprint')">
              <span class="material-icons">
                info
                </span>
                Legal Notice
              </li>
              <li (click)="navigateAndCloseDrawer('/privacy')">
                <span class="material-icons">
                  info
                  </span>
                  Privacy Policy
                </li>
            </div>
  </ul>


  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button type="button" mat-button (click)="toggleDrawer()" class="icon-btn-div">
            <mat-icon class="menu-img">menu</mat-icon>
        </button>

        <div>
          <button routerLink="/info" mat-button type="button">
            <mat-icon>
              info
            </mat-icon>
          </button>
        <ng-container *ngIf="authService.currentUser$ |async as user">
          <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
            {{user.displayName}}
            <mat-icon>expand_more</mat-icon>
          </button>
        </ng-container>
      </div>
      </mat-toolbar-row>
    </mat-toolbar>

  <div class="router-container">
    <div>
    <router-outlet></router-outlet>
  </div>
  </div>
  </div>
  </mat-drawer-container>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logOut()">Logout</button>
  </mat-menu>
