<mat-card class="user-detail-header">
  <button  [matMenuTriggerFor]="userMenu"  class="edit-icon-name" mat-icon-button >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button (click)="editUserDetail()" class="edit-btn" mat-menu-item>Edit</button>
  </mat-menu>
  <div class="info-detail">
    <div class="profile-pic">
      <img src="../../assets/img/profile.png" alt="">
    </div>

    <div class="name-email">
      <h2 class="name">{{user.firstName}} {{user.lastName}}</h2>
      <p class="email">{{user.email}}</p>
    </div>

</div>
</mat-card>

<mat-card class="mt-32 address">
  <button  [matMenuTriggerFor]="addressMenu"  class="edit-icon" mat-icon-button >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #addressMenu="matMenu">
    <button (click)="editMenu()" class="edit-btn" mat-menu-item>Edit</button>
  </mat-menu>
  <div>
  <mat-card-header>
    <mat-card-title>
      Address
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    {{user.address}} <br>
    {{user.zipCode}} {{user.city}}
  </mat-card-content>

  <div class="amount">
    <mat-card-title>
      Invested Amount
    </mat-card-title>
    <mat-card-content>
      {{user.investedAmount}} €
    </mat-card-content>
  </div>
</div>

<div class="notes">
  <mat-card-title>
    Notes
  </mat-card-title>
  <p>
    {{user.notes}}
  </p>


</div>



</mat-card>

