mat-card{
max-width: 36rem;
.notes-summary-container {
  display: flex;
  align-items: center;
  max-width: 30rem;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.note-card {
  margin-bottom: 1.6rem;
  width: 100%;
}
}
@media (max-width: 600px) {
  mat-card{
    max-width: 25rem !important;
  }
}

@media (max-width: 410px) {
  mat-card{
    max-width: 20rem !important;
  }
}
