<mat-card>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Number</th>
      <th>Adress</th>
      <th>Exp.</th>
    </tr>

    <tr *ngFor = "let user of allUsers" [routerLink]="['/user/' + user.customIdName]">
      <td>{{user.firstName}} {{user.lastName}} </td>
      <td>{{user.email}}</td>
      <td>{{user.birthDate}}</td>
      <td>{{user.address}} , {{user.zipCode}} , {{user.city}}</td>
      <td>{{user.birthDate}} Years</td>
        <div>
          <button [matMenuTriggerFor]="deleteMenu" (click)="stopPropagation($event)" class="edit-icon" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>

        <mat-menu #deleteMenu="matMenu">
          <button (click)="deleteUser($event,user)" class="delete-btn" mat-menu-item>Delete User</button>
        </mat-menu>
      </div>
    </tr>
  </table>

</mat-card>

<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="Add User"
>
  <mat-icon>add</mat-icon>
</button>
