.add-user-btn{
  position: absolute;
  bottom: 56px;
  right: 56px;
}

.user-table{
  width: 100%;
  border-collapse: collapse;


  tr{
    border-bottom:1px solid rgba(0,0,0,0.4);
    cursor: pointer;
    &:last-child{
      border-bottom:0 ;
    }

    &:first-child{
      cursor: unset ;
    }
    &:first-child:hover{
      cursor: unset ;
      background-color: unset;
    }

    &:hover{
      background-color: rgba(0,0,0,0.04);
    }

    td{
      padding-left: 18px;
      height: 48px;
    }
  }
  th{
    color: rgba(0,0,0,0.4);
    font-size:14px;
    font-weight: 500;
    padding: 18px;
    text-align: start;
  }


}

.delete-btn{
  color: red;
}
