.player-detail-header{
  min-height: 20rem;
  background-color: #735CDD;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: end;

  .player-detail-content{
    display: flex;
    align-items: center;
    img{
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      border: none;
      object-fit: cover;
    }

    .player-details{
      margin-left: 1.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      p{
        margin-bottom: 0;
      }
    }
}
}

.edit-icon{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}


.player-info-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  .player-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.player-info-container-about{
  display: flex;
  justify-content: center;
}

.point-chart{
  margin-top: 2rem;

  .player-detail-input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
  }

  .chart-and-table-container{
    display: flex;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    gap: 1rem;
  }
}


@media (max-width: 600px) {

  .player-info-container{
    justify-content: center !important;
    align-items: center !important;
  }

  .player-detail-content{
    margin-left: 18%;
    flex-direction: column !important;
    margin-bottom: 3%;
  }

  .player-details{

    margin-left: 0 !important;
  }

  .player-detail-input{
    display: flex;
    flex-direction: column;
  }

  mat-form-field{
    width: 85%;
  }

  canvas{

    height: auto !important;
    max-height: 100% !important;
  }
  .chart-and-table-container{
    flex-direction: column;
  }

}

@media (max-width: 600px) {
  canvas{
    display: none !important;
  }
}

@media (max-width: 600px) {
  .chart-and-table-container{
    padding-left: 0 !important;
    justify-content: center;
    align-items: center;
    padding-right: 70% !important;
    padding-bottom: 2rem;
  }
}
