<div class="dashboard-container">
<div class="dashboard">
  <div class="container-1">
    <div class="player-earnings-chart">
      <app-player-earning-chart></app-player-earning-chart>
    </div>
    <div class="coach-experience-chart">
      <app-coach-experience-chart></app-coach-experience-chart>
    </div>
  </div>
<div class="container-2">
  <div class="todo-summary">
    <app-todo-summary></app-todo-summary>
  </div>
  <div class="todo-summary">
    <app-crm-summary></app-crm-summary>
  </div>


</div>
</div>
</div>
